@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    line-height: 1.6;
}

/* Main content styling */
main {
    margin: 2rem auto;
    padding: 1rem;
}

h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

section {
    margin-bottom: 2rem;
}

nav {
    background-color: #395c6b;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #395c6b;
    position: fixed;
    top: 0;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
nav li a:hover {
    color: #bdbdbd;
}

/* Home Page styling*/
.home-page {
    background-color: #395c6b;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.home-page p .header {
    margin-bottom: 0.5rem;
    font-family: "Yeseva One", serif;
}

.home-page p.description {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #ccc;
}

.arched-square {
    max-width: 500px;
    max-height: 600px;
    border-radius: 500px 500px 0 0;
    overflow: hidden;
}

/* Work Experience styling */
.work-experience {
    background-color: #d09688;
}
.job h3 {
    font-size: 1.5rem;
    color: white;
}

.job p span {
    font-weight: bold;
}

.job ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

/* Education styling */
.education {
    background-color: #edeced;
}

.education-entry h2 {
    font-size: 1.3rem;
    color: white;
    margin-bottom: 0.3rem;
}

.education-entry p span {
    font-weight: bold;
    color: white;
}

/* Skills styling */
.skills {
    background-color: #d09688;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}

.skills-list li {
    background-color: #d09688;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Actitivies & Honors styling */
.honors {
    background-color: #395c6b;
}

.honors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}

.honors-list li {
    background-color: #395c6b;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Contact Section */
.contact {
    background-color: #edeced;
}

.contact b {
    color: black;
    text-decoration: none;
}

.contact b:hover {
    font-weight: bold;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

