/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    color: #333;
    background-color: #f7f9fc;
    line-height: 1.6;
}

/* Main content styling */
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
    border-bottom: 2px solid #007acc;
    padding-bottom: 0.5rem;
}

section {
    margin-bottom: 2rem;
}

nav {
    background-color: #395c6b;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #395c6b;
    position: fixed;
    top: 0;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
nav li a:hover {
    color: #bdbdbd;
}

/* Home Page styling*/
.home-page {
    background-color: #395c6b;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.header-content p.description {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #ccc;
}

/* Work Experience styling */
.work-experience {
    background-color: #d09688;
}
.job h3 {
    font-size: 1.5rem;
    color: #007acc;
}

.job p span {
    font-weight: bold;
}

.job ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

/* Education styling */
.education {
    background-color: #edeced;
}

.education-entry h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.3rem;
}

.education-entry p span {
    font-weight: bold;
    color: #555;
}

/* Skills styling */
.skills {
    background-color: #d09688;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}

.skills-list li {
    background-color: #d09688;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Actitivies & Honors styling */
.honors {
    background-color: #d09688;
}
.honors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}

.honors-list li {
    background-color: #395c6b;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Contact Section */
.contact {
    background-color: #edeced;
}
#contact a {
    color: #007acc;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

