body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BCD3F2;
    color: #333;
}

header {
    background-color: #395C6B;
    color: #fff;
    padding: 20px;
}

button {
    float: right;
    transition-duration: 0.4s;
    border-radius: 8px;
    background-color: #E6E1C5;
    width: 150px;
    color: #395C6B;
    align-items: center;
}

button:hover {
    border-color: #E6E1C5;
    background-color: #D4CB92; /* Green */
    color: #395C6B;
}

.logo {
    align-items: left;
    max-width: 250px;
}

.me {
    margin: 20px;
    padding: 20px;
    border-color: black;
    background-color: #ffffff;
    border-radius: 8px;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 48%;
    float: left;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #80A4ED;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    width: 100%;
    bottom: 0;
}