body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #760393;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #deaeea;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #760393;
    color: white;
    width: 100%;
    bottom: 0;
}